@model IEnumerable<QuanLyNhaThuoc.Models.Thuoc>
@using QuanLyNhaThuoc.Models

<section id="spnoibat" class="spnoibat">
    <h1>SẢN PHẨM NỔI BẬT</h1>
    <div class="spnoibat-items container row">
        <div class="spnoibat-item">
            <a href="">
                <img src="~/Images/Acetylcysteine.jpg" alt="" />
                <h2>Acetylcysteine</h2>
            </a>
        </div>

        <div class="spnoibat-item">
            <a href="">
                <img src="~/Images/Atropine.jpg" alt="" />
                <h2>Atropine</h2>
            </a>
        </div>

        <div class="spnoibat-item">
            <a href="">
                <img src="~/Images/Dexamethasone.jpg" alt="" />
                <h2>Dexamethasone</h2>
            </a>
        </div>
    </div>
    <button><a href="https://localhost:44356/Thuoc">Xem thêm</a></button>
</section>

<div class="row">
    <h2> <b>Kiến thức sức khỏe</b></h2>
    <div class="col-md-8">
        <video width="100%" height="450px" autoplay loop controls muted>
            <source src="~/Images/Video.mp4" type="video/mp4" />
        </video>
    </div>
    <h3>Thông tin</h3>
    <div>
        <h4>
            <i>
                Khi nhiễm Covid-19 nặng, toàn thân bệnh nhân có thể bị  tổn thương phổi và rối loạn chức năng cơ quan đa hệ. Các cơ sở y tế đã đề xuất tác dụng chống viêm mạnh của corticoid có thể ngăn ngừa hoặc giảm thiểu những tác dụng có hại này.
                <br />  <br />
                Corticoid cũng đã được nghiên cứu ở những bệnh nhân nặng mắc hội chứng suy hô hấp cấp (ARDS) với kết quả trái ngược nhau. Phân tích tổng hợp các kết quả thử nghiệm này đã chứng minh rằng, so với giả dược, liệu pháp corticoid làm giảm nguy cơ tử vong do mọi nguyên nhân (tỷ lệ rủi ro 0,75; KTC 95%, 0,59–0,95) và thời gian thở máy (chênh lệch trung bình -4,93 ngày; 95 % CI, -7,81 đến -2,06 ngày), theo NHS.
                <br />  <br />
            </i>
        </h4>
    </div>
</div>

<footer class="maunen" style="padding-left:50px">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <h2>Tra cứu y tế</h2>
            <span><a href="#">Chính sách mua hàng</a></span>
            <br />
            <span><a href="#">Chính sách chăm sóc sức khỏe</a></span>
            <br />
            <span><a href="#">Trung tâm y tế khu vực</a></span>
            <br />
            <span><a href="#">Tra cứu thông tin thuốc</a></span>
        </div>

        <div class="col-md-3 col-sm-6">
            <h2>Liên kết</h2>
            <span><a href="http://amr.moh.gov.vn/category/tin-tuc/">Tin tức Thuốc</a></span>
            <br />
            <span><a href="#">Thông tin các sản phẩm khác</a></span>
            <br />
            <span><a href="https://kcb.vn/vanban/thong-tu-so-232011tt-byt-ngay-1062011-cua-bo-y-te-huong-dan-su-dung-thuoc-trong-cac-co-so-y-te-co-giuong-benh">Các chuẩn y tế về thuốc</a></span>
            <br />
            <span><a href="http://magazine.canhgiacduoc.org.vn/Magazine/Details/219">Cảnh báo khi sử dụng thuốc</a></span>
        </div>

        <div class="col-md-3 col-sm-6">
            <h2>Thông tin</h2>
            <span><a href="#">Về chúng tôi</a></span>
            <br />
            <span><a href="tel:0867165862" target="blank">Liên hệ</a></span>
            <br />
            <span><a href="#">Góp ý</a></span>
        </div>

        <div class="col-md-3 col-sm-6">
            <h2><ion-icon name="person-add-outline"></ion-icon> Theo dõi </h2>
            <span><a href="#">Youtube</a></span>
            <br />
            <span><a href="#">Fanpage</a></span>
            <br />
            <span><a href="#">Instagram</a></span>
        </div>
    </div>
    <hr />
    
</footer>

<div class="bottom-contact">
    <div class="container">
        <div class="left">
            <a href="https://www.facebook.com/truongkim.nam.9/" target="blank"><ion-icon name="chatbubble-ellipses-outline"></ion-icon> Tư vấn qua Facebook</a>
        </div>
        <div class="center">
            <a href="https://www.facebook.com/tinhocmo" target="blank"><ion-icon name="logo-facebook"></ion-icon> Fanpage Meta</a>
        </div>
        <div class="right">
            <a href="tel:0867165862" target="blank">Gọi: 0867.165.862</a>
        </div>
        <div class="clearboth"></div>
    </div>
</div>

<style type="text/css">
    /*CSS Main*/

    :root {
        --main-text-font: "Lobster", cursive;
        --logo-text-font: "Anton", sans-serif;
        --main-color: #ed1b24;
    }

    html {
        scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }


    .container {
        max-width: 1024px;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    /*CSS item san pham noi bat*/
    .spnoibat {
        padding: 0 0;
        text-align: center;
    }

        .spnoibat h1 {
            font-family: var(--main-text-font);
            font-size: 20px;
            text-align: left;
            font-weight: bold;
            margin-bottom: 30px;
            color: #333333;
        }

    .spnoibat-items {
        justify-content: space-between;
    }

    .spnoibat-item {
        width: 30%;
        border-radius: 5px;
    }

        .spnoibat-item h2 {
            font-family: var(--logo-text-font);
            font-size: 30px;
            text-align: center;
            color: #333333;
            margin: 15px 0 6px 0;
        }

        .spnoibat-item img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        .spnoibat-item:hover p {
            font-weight: bold;
        }

        .spnoibat-item p {
            color: #363db3;
            font-weight: bold;
            transition: all 0.5s ease;
        }

    .spnoibat button {
        width: 150px;
        height: 40px;
        background-color: transparent;
        border: 2px solid var(--main-color);
        color: #333333;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        transition: all 0.5s ease;
        margin-top: 40px;
    }

        .spnoibat button:hover {
            background-color: var(--main-color);
        }

    /*CSS Contact*/
    .bottom-contact {
        z-index: 999;
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

        .bottom-contact .container {
            display: inline-block;
            max-width: 600px
        }

        .bottom-contact .left, .bottom-contact .center {
            float: left;
            padding: 0 5px;
        }

            .bottom-contact .left a {
                background: #000000;
                padding: 14px 15px;
                color: white;
                font-size: 15px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

        .bottom-contact .clearboth {
            clear: both
        }

        .bottom-contact .right {
            float: left;
            padding: 0 5px
        }

        .bottom-contact img {
            width: 25px;
            padding-right: 5px
        }

        .bottom-contact .center a {
            background: #000000;
            padding: 14px 15px;
            color: white;
            font-size: 15px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .bottom-contact .right a {
            background: #000000;
            padding: 14px 15px;
            color: white;
            font-size: 15px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

            .bottom-contact .right a:hover {
                background: #ffffff;
                color: black;
            }

        .bottom-contact .center a:hover {
            background: #ffffff;
            color: black;
        }

        .bottom-contact .left a:hover {
            background: #ffffff;
            color: black;
        }
</style>