<div class="container">
    <br />
    <div class="row">
        @Html.ActionLink("Admin", "Index", "RoleAdmin")
    </div>
    @*<div class="row">
        @Html.ActionLink("User", "Index", "UserAdmin")
    </div>*@
</div>
